$tipografia-principal: 'Gluten', cursive;
$tipografia-secundaria: 'Permanent Marker', cursive;
$color_1: #000000;
$color_2: rgb(201, 93, 138);
$font-family_1: $tipografia-principal;
$font-family_2: 'Gluten', cursive;
$background-color_1: #6565654d;
$font-family_1: 'Quicksand', sans-serif;
$background-color_1: #adafb4;